In [1]:
pip install numpy pandas

Requirement already satisfied: numpy in c:\users\abhin\downloads\python\lib\site-packages (1.26.4)
Requirement already satisfied: pandas in c:\users\abhin\downloads\python\lib\site-packages (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\abhin\downloads\python\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\abhin\downloads\python\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\abhin\downloads\python\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\abhin\downloads\python\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np

# Create a NumPy array from 1 to 10
arr = np.arange(1, 11)

# Reshape the array to 2x5 matrix
reshaped_arr = arr.reshape(2, 5)

print("Reshaped 2x5 matrix:\n", reshaped_arr)

Reshaped 2x5 matrix:
 [[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

In [3]:
# Create a NumPy array from 1 to 20
arr_20 = np.arange(1, 21)

# Extract elements between index 5 and 15 (inclusive of 5th, exclusive of 15th index)
extracted_elements = arr_20[5:16]

print("Extracted elements between 5th and 15th index:", extracted_elements)

Extracted elements between 5th and 15th index: [ 6  7  8  9 10 11 12 13 14 15 16]

In [4]:
import pandas as pd

# Create a Pandas series
fruit_series = pd.Series({'apples': 3, 'bananas': 2, 'oranges': 1})

# Add a new item with the key 'pears' and value 4
fruit_series['pears'] = 4

print("Updated Pandas Series:\n", fruit_series)

Updated Pandas Series:
 apples     3
bananas    2
oranges    1
pears      4
dtype: int64

In [5]:
# Create a DataFrame with 10 rows of data
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Hannah', 'Ivy', 'Jack'],
    'age': [25, 30, 35, 40, 45, 50, 55, 60, 65, 70],
    'gender': ['F', 'M', 'M', 'M', 'F', 'M', 'F', 'F', 'F', 'M']
}

df = pd.DataFrame(data)

print("DataFrame:\n", df)

DataFrame:
       name  age gender
0    Alice   25      F
1      Bob   30      M
2  Charlie   35      M
3    David   40      M
4      Eva   45      F
5    Frank   50      M
6    Grace   55      F
7   Hannah   60      F
8      Ivy   65      F
9     Jack   70      M

In [6]:
# Define occupation values
occupations = ['Programmer', 'Manager', 'Analyst', 'Programmer', 'Manager', 
               'Analyst', 'Programmer', 'Manager', 'Analyst', 'Programmer']

# Add the 'occupation' column to the dataframe
df['occupation'] = occupations

print("Updated DataFrame with 'occupation' column:\n", df)

Updated DataFrame with 'occupation' column:
       name  age gender  occupation
0    Alice   25      F  Programmer
1      Bob   30      M     Manager
2  Charlie   35      M     Analyst
3    David   40      M  Programmer
4      Eva   45      F     Manager
5    Frank   50      M     Analyst
6    Grace   55      F  Programmer
7   Hannah   60      F     Manager
8      Ivy   65      F     Analyst
9     Jack   70      M  Programmer

In [7]:
# Select rows where age >= 30
age_filtered_df = df[df['age'] >= 30]

print("Rows where age is greater than or equal to 30:\n", age_filtered_df)

Rows where age is greater than or equal to 30:
       name  age gender  occupation
1      Bob   30      M     Manager
2  Charlie   35      M     Analyst
3    David   40      M  Programmer
4      Eva   45      F     Manager
5    Frank   50      M     Analyst
6    Grace   55      F  Programmer
7   Hannah   60      F     Manager
8      Ivy   65      F     Analyst
9     Jack   70      M  Programmer

In [8]:
# Convert the DataFrame to a CSV file
df.to_csv('people.csv', index=False)

# Read the CSV file into a new DataFrame
df_from_csv = pd.read_csv('people.csv')

print("Contents of the CSV file:\n", df_from_csv)

Contents of the CSV file:
       name  age gender  occupation
0    Alice   25      F  Programmer
1      Bob   30      M     Manager
2  Charlie   35      M     Analyst
3    David   40      M  Programmer
4      Eva   45      F     Manager
5    Frank   50      M     Analyst
6    Grace   55      F  Programmer
7   Hannah   60      F     Manager
8      Ivy   65      F     Analyst
9     Jack   70      M  Programmer